{% extends 'base.html.twig' %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-3 mx-auto my-3">
        <h1 class="display-4 font-weight-normal">{{ band.name }}</h1>
        <p class="lead font-weight-normal"><i>Composé de {{ band.members|length }} membres</i></p>
    </div>
</div>
 
<div class="container">
    <div class="card-deck">
    {% for member in band.members %}
        <div class="card text-center">
            <img src="{{ asset('images/'~ member.picture) }}" class="card-img-top" style="height: 150px;">
            <div class="card-body">
                <h4 class="card-title">{{ member.name }} {{ member.firstname }}</h4>
                <p class="card-text"><b>{{ member.job }}</b></p>
                {% if is_granted('ROLE_ADMIN') %}
                    <p><a href="{{ path('edit_member', {id: member.id}) }}" class="btn btn-primary">Modifier</a></p>
                    <p><a href="{{ path('delete_member', {id: member.id}) }}" class="btn btn-danger">Supprimer</a></p>
                {% endif %}
            </div>
            <div class="card-footer"><small class="text-muted">Né le {{ member.birthDate|format_datetime(locale='fr',pattern="dd MMMM YYYY")|title }}</small>
            </div>
        </div>
    {% endfor %}
    </div>

    <br><br>  
    <center>
        <a href="{{ path('add_member') }}" class="btn btn-success">Ajouter des membres dans le groupe {{band.name}}</a>
    </center>
    <br><br>

        <div class="container">
            <center>
                <h1>Leurs prochains concerts</h1>
            </center>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Tournée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for concert in concerts %}
                    <!-- pour avoir l'id du groupe via l'url -->
                        {% if(concert.band.id == app.request.requesturi|split('/')[2]) %}      
                         <!-- pour savoir si le concert est passé ou pas -->
                            {% if(concert.date.date|date('Y-m-d') > "now"|date('Y-m-d')) %} 
                                <tr>
                                    <td>{{concert.date.date|format_datetime(locale='fr',pattern="dd MMMM YYYY")|title}}</td>
                                    <td>{{concert.tourName}}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <center>
                <a href="/concert/form" class="btn btn-primary">Créer un nouveau concert</a>
            </center>
        </div>
    </div>
</div>


{% endblock %}