{% extends 'base.html.twig' %}
{% block title %}Concert-Project!{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-3 mx-auto my-3">
      <h1 class="display-4 font-weight-normal">My account</h1>
      <p class="lead font-weight-normal"><i>Yeah Dude</i></p>
  </div>
</div>

{% for message in app.flashes('success') %}
  <div class="container text-center">
    <div class="alert alert-success">
        {{ message }}
    </div>
  </div>
{% endfor %}

<div class="container emp-profile">
    <div class="row justify-content-center align-items-center h-100">

        <div class="col-md-3">
            <input type="hidden" class="" name="" value=""/>
        </div>
        {% for account in accounts %} 

        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{account.firstName}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Prénom</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{account.lastName}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>E-mail</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{account.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="{{ path('edit_account_user', {id: account.id}) }}" class="btn btn-primary">Modifier</a>
        </div>
        {% endfor %}


    </div>
</div>

</body>
</html>

{% endblock %}
